
* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color:rgb(210, 203, 203)
}

/* color botones
#dcdcde gris claro
 */

.cuerpo-consola {
    position: relative;
    top: 11em;
    display: flex;
    left: 21em;
    height: 25em;
    width: 53em;
    background-color: #676c72;
    justify-content: center;
    border-radius: 2em 3em 3em 3em;
    box-shadow: -0.5em 1.5em 1.5em 1em rgb(44, 44, 44);
}

.pantalla-fondo {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 37em;
    height: 22em;
    background: #606569;
    border-radius: 1em 1em 1em;
    top: 1em;
    left: 8em;
}
#pantalla1 {
    top: 2.7em;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 33em;
    height: 19em;
    background: #1310bb;
    border: 0.5em solid black;
}

.l1 {
    position: absolute;
    top: -1em;
    display: flex;
    flex-direction: column;
    height: 1em;
    width: 5em;
    left: 0.1em;
    background-color: black;
    border-radius: 222% 0 0 22%;
}
.l1-2 {
    position: relative;
    top: 0em;
    display: flex;
    flex-direction: column;
    height: 4em;
    width: 1em;
    left: -27em;
    background-color: black;
    border-radius: 22222222222% 2% 2% 2222222%;
}

.nieto-l2 {
    position: relative;
    content: '';
    background-color: rgb(212, 47, 47);
    display: flex;
    top: -.05em;
    flex-direction: column;
    width: 0.8em;
    height: 0.6em;
    left: 0.9em;
    border-radius: 1.5em;
    box-shadow: -2em 2em 0 0 #fff inset;
}

.relleno0 {
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    top: -.05em;
    flex-direction: column;
    width: 1em;
    height: 0.3em;
    left: 1em;
    border-radius: 2em 2em 22em 2em;
}

.redondo {
    position: absolute;
    display: flex;
    right: 32em;
    top: 3em;
    border-radius: 50%;
    background: grey;
    height: 6em;
    width: 6em;
}
