
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:rgba(237, 233, 233, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 1em;
    left: 18em;
    width: 9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.big {
    animation-name: enlarge;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes enlarge {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

.cuerpo-consola {
    position: relative;
    display: flex;
    height: 25em;
    width: 57em;
    border: solid rgb(194, 190, 190);
    background: linear-gradient(29deg, rgb(4, 2, 52) 0%, rgba(130,131,135,1) 0%, rgba(70,73,85,1) 0%, rgba(218,219,224,1) 0%, rgba(147,149,159,1) 0%, rgba(255,255,255,1) 0%, rgb(125, 113, 113) 0%, rgb(189, 177, 177) 100%, rgb(84, 48, 49) 100%, rgb(121, 121, 123) 100%, rgb(199, 74, 76) 100%, rgba(130,131,135,1) 100%, rgba(141,145,145,1) 100%, rgba(96,101,105,1) 100%);
    justify-content: center;
    border-radius: 2em 3em 3em 3em;
    box-shadow: -0.3em 1.2em 3em 1em rgb(145, 136, 136),
                -0.1em  1em rgb(194, 168, 168);
}

.pantalla-fondo {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 37em;
    height: 22em;
    background: #7c7d82d2;
    border-radius: 1em 1em 1em;
    top: 1.7em;
    align-content: center;
    justify-content: center;
}

.screen {
    top: 2.7em;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 33em;
    height: 19em;
    background: #cccee2;
    border: 0.5em solid black;
    align-content: center;
    justify-content: center;
}

.cruceta {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 6em;
    background: none;
    height: 5.9em;
    top: 23em;
    left: 18em;
}
.row1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 2.1em;
    height: 2em;
    top: -0.3em;
    right: 4em;
    background: linear-gradient(233deg, rgb(118, 115, 115) 71%, rgb(162, 157, 157) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(131, 125, 125);
}

.up {
    align-items: center;
    justify-content: center;
    right: 1.8em;
    top: -0.3em;
    border-top: 3px solid #74706f;
    border-right: 3px solid  #74706f;
    border-left: 3px solid #74706f;
}

.left {
    right: 6em;
    top: 1.8em;
    right: 4em;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #74706f;
    border-left:3px solid #74706f;
    border-top:3px solid #74706f;
}

.center {
    z-index: 1;
    right: 2.1em;
    top: 1.9em;
    width: 2.1em;
    border-radius: 0.1em;
    height: 2.2em;
    background: linear-gradient(233deg, rgb(118, 115, 115) 71%, rgb(162, 157, 157) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(131, 125, 125);
}
.right {
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #74706f;
    border-right:3px solid #74706f;
    border-top:3px solid #74706f;
    top: 1.9em;
    right: -0.1em;
}

.down {
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #74706f;
    border-left:3px solid #74706f;
    border-right:3px solid #74706f;
    top: 4.1em;
    right: 1.9em;
}

.l1 {
    position: absolute;
    top: -0.6em;
    left: -0.7em;
    width: 4.6em;
    height: 6em;
    border-radius: 122% 98% 221% 19%;
    z-index: -1;
    background: linear-gradient(233deg, rgb(59, 56, 56) 71%, rgb(59, 56, 56) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(12, 12, 12);
}

.l2 {
    position: absolute;
    top: -0.7em;
    right: -0.7em;
    width: 5em;
    height: 6em;
    border-radius: 52% 98% 22% 12%;
    z-index: -1;
    background: linear-gradient(233deg, rgb(59, 56, 56) 71%, rgb(59, 56, 56) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(12, 12, 12);
}

.botonX {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20.5em;
    top: 16.6em;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    box-shadow: -0.1em 0em 1.5em 0.1em inset rgb(94, 91, 91);
}
.x>h2 {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0.2em;
    top: -0.7em;
    border-radius: 50%;
    height: 1.1em;
    width: 1em;
    background: linear-gradient(233deg, rgb(118, 115, 115) 71%, rgb(162, 157, 157) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(131, 125, 125);
}

.botonY {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    top: 19em;
    left: 65em;
    box-shadow: -0.1em 0em 1.5em 0.1em inset rgb(94, 91, 91);
}

.botonA {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    top: 19em;
    left: 70em;
    box-shadow: -0.1em 0em 1.5em 0.1em inset rgb(94, 91, 91);
}

.botonB {
    display: flex;
    position: absolute;
    flex-direction: row;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    top: 21.1em;
    right: 20.5em;
    box-shadow: -0.1em 0em 1.5em 0.1em inset rgb(94, 91, 91);
}

.joystick-stuffed {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 2.4em;
    height: 2.4em;
    border-radius: 45%;
    left: 0.3em;
    top: 0.32em;
    border: 0.1em solid #656262;
    border-radius: 1em;
    background: rgb(55, 53, 53);
    box-shadow: -0.1em 0em 1em 0.1em  rgb(75, 73, 73),
                -0.2em 0.1em 2em -0.12em  rgb(101, 96, 96);

}

.joystick1 {
    display: flex;
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    left: 19.9em;
    top: 15.5em;
    border:solid rgb(174, 168, 168);
    background: linear-gradient(233deg, rgb(59, 56, 56) 71%, rgb(59, 56, 56) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(12, 12, 12);
}

.joystick-right {
    display: flex;
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    left: 67em;
    top: 25.9em;
    border:solid rgb(174, 168, 168);
    background: linear-gradient(233deg, rgb(59, 56, 56) 71%, rgb(59, 56, 56) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(12, 12, 12);
}


.btn-up {
    z-index: -1;
    top: 2em;
    border-radius: 30%;
    background-color: rgb(196,196,196);
    width: 2em;
    height: 2em;
    left: 16em;
}

.btn-up1 {
    z-index: -1;
    width: 2em;
    border-radius: 30%;
    height: 1em;
    background-color: rgb(196,196,196);
    top: -0.3em;
    left: 12em;
}

.minimize {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 12em;
    left: 24em;
}

.pluss {
    cursor: pointer;
    top: 12.4em;
    right: 24.1em;
    display: flex;
    position: absolute;

}

.btn-home {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    border-radius: 50%;
    height: 1.7em;
    border: solid rgb(209, 204, 204);
    width: 1.7em;
    top: 32.5em;
    border: 0.1em solid #747070;
    right: 24em;
    background: linear-gradient(233deg, rgb(118, 115, 115) 71%, rgb(162, 157, 157) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(131, 125, 125);
}

.of {
    left: 24em;
    top: 32em;
    border-radius: 5%;
    border-radius: 0;
    background: linear-gradient(233deg, rgb(118, 115, 115) 71%, rgb(162, 157, 157) 71%);
    box-shadow: 0em 0.1em  1em 0.1em  rgb(131, 125, 125);
}