
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:rgb(210, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* color botones
#dcdcde gris claro
 */

.cuerpo-consola {
    position: relative;
    display: flex;
    height: 25em;
    width: 57em;
    background-color: #676c72;
    /* background-color: #676c72; */
    justify-content: center;
    border-radius: 2em 3em 3em 3em;
    box-shadow: -0.5em 1.5em 1.5em 1em rgb(44, 44, 44);
}

.pantalla-fondo {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 37em;
    height: 22em;
    background: #606569;
    border-radius: 1em 1em 1em;
    top: 1.7em;
    align-content: center;
    justify-content: center;
}

#pantalla1 {
    top: 2.7em;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 33em;
    height: 19em;
    background: #1310bb;
    border: 0.5em solid black;
    align-content: center;
    justify-content: center;
}

.section {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 6em;
    height: 5.9em;
    background-color: aqua;
    top: 24em;
    left: 18em;
}
.row1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 2em;
    height: 2em;
    background-color: #676c72;
    top: -0.1em;
    right: 4em;
}

.row2 {
    right: -0.0em;
}

.row3 {
    right: 2em;
    background-color: #fff;
}

.row4 {
    right: 6em;
    top: 1.9em;
    right: 4em;
    background-color: #fff;
}

.row5 {
    right: 2em;
    top: 1.9em;
    background-color: #fff;
}
.row6 {
    background-color: #fff;
    top: 1.9em;
    right: -0.0em;
}

.row7 {
    background-color: #676c72;
    top: 3.9em;
    right: -.0.3em;
}

.row8 {
    background-color: #fff;
    top: 3.9em;
    right: 2em;
}

.row9 {
    background-color: #676c72;
    top: 3.9em;
    right: -0em;
}

.l1 {
    position: absolute;
    z-index: -1;
    top: -0.8em;
    display: flex;
    flex-direction: column;
    height: 2em;
    width: 5em;
    left: 0.1em;
    background-color: black;
    border-radius: 222% 0 0 22%;
}

.l1-2 {
    position: relative;
    z-index: -1;
    top: 0em;
    display: flex;
    flex-direction: column;
    height: 4em;
    width: 2em;
    right: 28.3em;
    background-color: black;
    border-radius: 22222222222% 2% 2% 2222222%;
}

.botonX {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 20.5em;
    top: 16.7em;
    border-radius: 50%;
    background: #d3d4d6;
    height: 2em;
    width: 2em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.botonY {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #fff;
    height: 2em;
    width: 2em;
    top: 19em;
    left: 65em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.botonA {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: #fff;
    height: 2em;
    width: 2em;
    top: 19em;
    left: 70em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.botonB {
    display: flex;
    position: absolute;
    flex-direction: row;
    border-radius: 50%;
    background-color: #fff;
    height: 2em;
    width: 2em;
    top: 21.1em;
    right: 20.5em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.joystick {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    height: 3.4em;
    width: 3.4em;
    top: 25.3em;
    right: 19.6em;
}

.btn-home {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    top: 32em;
    right: 24em;
}

.mas {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #676c72;
    height: 4em;
    width: 2em;
    top: 13em;
    right: 24em;
    align-content: center;
    justify-content: center;
}

.cruzArriba {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    height: 0.5em;
    width: 0.3em;
    top: -0.9em;
    right: -0.8em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.relleno {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    height: 0.5em;
    width: 0.4em;
    top: 1.3em;
    right: 0.8em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.cruzAbajo {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    height: 0.6em;
    width: 0.3em;
    top: 1.8em;
    right: 0.9em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.cruzDerecha {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    height: 0.3em;
    width: 0.6em;
    top: 1.4em;
    right: 1.2em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}

.cruzIzquierda {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    height: 0.3em;
    width: 0.6em;
    top: 1.4em;
    right: 0.2em;
    box-shadow: -0.1em 0em 1.5em 0.1em rgb(44, 44, 44);
}